.form-register__btn--submit {
    background-color: #37D4F3;
}

.form-register__btn--submit a {
    color: white;
    text-decoration: none;
}

.form-register__btn--submit:hover {
    background-color: #37D4F3;
}

.form-register__btn--submit a:hover {
    color: red;
}